*{
  margin: 0;
  padding: 0;

}

.title{
  margin-top: 50px;
}

.form_block{
  margin-top: 30px;
}

textarea{
  resize: none;
  max-height: 100px;
}

hr{
  color: red;
}

.butSubmit {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-bottom: 30px;
}

.butSubmit:hover,
.butSubmit:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.butSubmit:active {
  opacity: .5;
}

.inputcheck{
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.text-input-check{
  width: 500px;
}

.title{
  margin-top: 10px;
}

.error-message span {
  color: red;
  font-size: 14px;
}

.caractere-especial{
  color: red;
}